<!DOCTYPE HTML>
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="{{ url_for( 'static', filename='jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.scrollgress.min.js') }}"></script>
		<script src="{{ url_for('static',filename='jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.slidertron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='init.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='skel.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style-xlarge.css') }}"/>
	</head>
	<body class="landing">
		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="/">Football Fan</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/#chart">App</a></li>
					</ul>
				</nav>
			</header>
			<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h2>Football Match Simulator</h2>
						<p>You can predict the results of match of your favourite team!</p>
						<ul class="actions">
							<li><a href="/" class="button big scrolly">Learn More</a></li>
						</ul>
					</div>
				</section>
			<div class="line">
		</div>
	<div class="bord">
		<h1>Epl Teams</h1>
			<div id="slider">
				<figure class="someimg">
					<img src="{{ url_for('static', filename='chelsea.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='arsenal.jpeg')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='everton.jpeg')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='liverpool.jpeg')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='burnley.jpeg')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='crystal.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='bournemouth.png')}}" style="width: 120px; height: 120px;">
				</figure>
				<figure class="someimg1">
					<img src="{{ url_for('static', filename='hull.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='leicester.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='manCity.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='manUnited.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='tottenham.jpg')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='middlesbrough.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='southampton.png')}}" style="width: 120px; height: 120px;">
				</figure>
				<figure class="someimg2">
					<img src="{{ url_for('static', filename='stoke.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='sunderland.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='swansea.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='watford.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='westBrom.png')}}" style="width: 120px; height: 120px;">
					<img src="{{ url_for('static', filename='westHam.png')}}" style="width: 120px; height: 120px;">
				</figure>
			</div>
		</div>
		<div class="line1"></div>
			<div class="cont">
				<h1 class="sometext">Predict Game</h1>
					<div class="takeform">
						<form method="POST">
							<select name="text" class="custom-select">
								<option value="Bournemouth">Bournemouth</option>
								<option value="Burnley">Burnley</option>
								<option value="Crystal Palace">Crystal Palace</option>
								<option value="Everton">Everton</option>
								<option value="Hull">Hull</option>
								<option value="Man City">Man City</option>
								<option value="Middlesbrough">Middlesbrough</option>
								<option value="Southampton">Southampton</option>
								<option value="Arsenal">Arsenal</option>
								<option value="Chelsea">Chelsea</option>
								<option value="Man United">Man United</option>
								<option value="Leicester">Leicester</option>
								<option value="Stoke">Stoke</option>
								<option value="Swansea">Swansea</option>
								<option value="Tottenham">Tottenham</option>
								<option value="Watford">Watford</option>
								<option value="West Brom">West Brom</option>
								<option value="Sunderland">Sunderland</option>
								<option value="West Ham">West Ham</option>
								<option value="Liverpool">Liverpool</option>
							</select>
							<br>
							<select name="text1" class="custom-select">
								<option value="Bournemouth">Bournemouth</option>
								<option value="Burnley">Burnley</option>
								<option value="Crystal Palace">Crystal Palace</option>
								<option value="Everton">Everton</option>
								<option value="Hull">Hull</option>
								<option value="Man City">Man City</option>
								<option value="Middlesbrough">Middlesbrough</option>
								<option value="Southampton">Southampton</option>
								<option value="Arsenal">Arsenal</option>
								<option value="Chelsea">Chelsea</option>
								<option value="Man United">Man United</option>
								<option value="Leicester">Leicester</option>
								<option value="Stoke">Stoke</option>
								<option value="Swansea">Swansea</option>
								<option value="Tottenham">Tottenham</option>
								<option value="Watford">Watford</option>
								<option value="West Brom">West Brom</option>
								<option value="Sunderland">Sunderland</option>
								<option value="West Ham">West Ham</option>
								<option value="Liverpool">Liverpool</option>
							</select>
							<br>
						<input class="btn btn-success" type="submit">
					</form>
				</div>
			<div>
		</div>
		<div id="chart">
			<div class="cont1">
				<canvas id="pie-chart" width="20" height="7"></canvas>
					<script>
						new Chart(document.getElementById("pie-chart"), {
							type: 'doughnut',
							data: {
								labels: ["{{home_team}} Wins {{home_win}}%", "Draw Game {{draw_game}}%", "{{away_team}} Wins {{away_win}}%"],
								datasets: [{
								label: "Population (millions)",
								backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
								data: [{{home_win}},{{draw_game}},{{away_win}}]}]},
								options: {
								title: {
									animateRotate: true,
									display: true,
									text: 'Predicted game outcome!'},}});
					</script>
				</div>
			</div>
		</div>
	<!-- Footer -->
		<footer id="footer">
			<span class="copyright">
					&copy; Copyright. All rights reserved.</a>
			</span>
		</footer>
	</body>
</html>